// Navigation Styles here

header nav {
  margin: 4% 0;
  width: 610px;
  justify-content: space-between;
  display: flex;
  @media @mobile {
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
  }
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  @media @mobile {
    padding-top: 0.75rem;
  }
}

header nav a:hover {
  text-decoration: underline;
  color: black;
}
